<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Café com Tattoo</title>
</h:head>
<h:body>
<h:form enctype="multipart/form-data">
<h:inputFile value="#{imgBean.imagem}" name="imagem" id="imagem"></h:inputFile>
<h:commandButton id="btn" value="Enviar" action="#{imgBean.pegarImagem()}" />
</h:form>
<h:form enctype="multipart/form-data">
<h:inputFile value="#{videoBean.imagem}" name="video" id="video"></h:inputFile>
<h:commandButton id="btn" value="Enviar" action="#{videoBean.pegarVideo()}" />
</h:form>


	<h:form>
	<ui:repeat value="#{videoBean.getLista()}" var="l" border="1">
				<video src="#{l.video}" controls=""></video>
		</ui:repeat>
	</h:form>
	<br></br>
	
	
</h:body>
</html>
