<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>Administrador</title>
	<link rel='stylesheet' type='text/css' href="resources/css/uikit.min.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/uikit-rtl.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/css.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/meu.css"></link>
	
<style>
    .u{
        width: 1350px;
        height: 650px;
        background-image: url(resources/img/5.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: relative;
        background-size: 1400px 900px;
    }
    </style> 
</h:head>
<h:body class="u">
<br/>
<ul>
<a href="#offcanvas-slide" class="uk-button uk-button-default" id='m' uk-toggle="">Adicionar Conteúdo</a>

<div id="offcanvas-slide" uk-offcanvas="">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#"> O que você deseja fazer?</a></li>
            <li class="uk-active"><a href="#">Adicionar imagens em:</a></li>
            <li><a href="#a" uk-toggle="">Quem sou eu?</a></li>
            	<div id="a" uk-modal="">
				    <div class="uk-modal-dialog">
				        <button class="uk-modal-close-default" type="button" uk-close=""></button>
				        <div class="uk-modal-header">
				            <h2 class="uk-modal-title">Adicionar imagem em "Quem sou eu?"</h2>
				        </div>
				        <h:form enctype="multipart/form-data">
				        <div class="uk-modal-body">
							<h:inputFile value="#{imgBean.imagem}" name="imagem" id="imagem"></h:inputFile>
				        </div>
				        <div class="uk-modal-footer uk-text-right">
				            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
				            <h:commandButton class="uk-button uk-button-secondary" id="btn" value="Enviar" action="#{imgBean.pegarImagem()}" />
				        </div>
				        </h:form>
				    </div>
				</div>
            <li><a href="#b" uk-toggle="">Nossos cafés</a></li>
            	<div id="b" uk-modal="">
				    <div class="uk-modal-dialog">
				        <button class="uk-modal-close-default" type="button" uk-close=""></button>
				        <div class="uk-modal-header">
				            <h2 class="uk-modal-title">Adicionar imagem em "Nossos cafés"</h2>
				        </div>
				        <h:form enctype="multipart/form-data">
				        <div class="uk-modal-body">
							<h:inputFile value="#{img2Bean.imagem}" name="imagem" id="imagem"></h:inputFile>
				        </div>
				        <div class="uk-modal-footer uk-text-right">
				            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
				            <h:commandButton class="uk-button uk-button-secondary" id="btn" value="Enviar" action="#{img2Bean.pegarImagem()}" />
				        </div>
				        </h:form>
				    </div>
				</div>
            <li><a href="#c" uk-toggle="">Galeria</a></li>
            	<div id="c" uk-modal="">
				    <div class="uk-modal-dialog">
				        <button class="uk-modal-close-default" type="button" uk-close=""></button>
				        <div class="uk-modal-header">
				            <h2 class="uk-modal-title">Adicionar imagem em "Galeria"</h2>
				        </div>
				        <h:form enctype="multipart/form-data">
				        <div class="uk-modal-body">
							<h:inputFile value="#{img3Bean.imagem}" name="imagem" id="imagem"></h:inputFile>
				        </div>
				        <div class="uk-modal-footer uk-text-right">
				            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
				            <h:commandButton class="uk-button uk-button-secondary" id="btn" value="Enviar" action="#{img3Bean.pegarImagem()}" />
				        </div>
				        </h:form>
				    </div>
				</div>
            <li class="uk-active"><a href="#">Também adicione vídeos em "curiosidades"</a></li>
            <li><a href="#d" uk-toggle="">Adicionar vídeos</a></li>
            <div id="d" uk-modal="">
				    <div class="uk-modal-dialog">
				        <button class="uk-modal-close-default" type="button" uk-close=""></button>
				        <div class="uk-modal-header">
				            <h2 class="uk-modal-title">Adicionar vídeo em "Curiosidades"</h2>
				        </div>
				        <h:form enctype="multipart/form-data">
				        <div class="uk-modal-body">
							<h:inputFile value="#{videoBean.imagem}" name="video" id="video"></h:inputFile>
				        </div>
				        <div class="uk-modal-footer uk-text-right">
				            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
				            <h:commandButton class="uk-button uk-button-secondary" id="btn" value="Enviar" action="#{videoBean.pegarVideo()}" />
				        </div>
				        </h:form>
				    </div>
				</div>
            <li class="uk-active"><a href="#">Adicione título e legenda para suas fotos e vídeos</a></li>
            <li><a href="#e" uk-toggle="">Adicionar texto em "Quem sou eu?"</a>
				<div id="e" uk-modal="">
				    <div class="uk-modal-dialog">
				        <button class="uk-modal-close-default" type="button" uk-close=""></button>
				        <div class="uk-modal-header">
				            <h2 class="uk-modal-title">Adicionar texto em "Quem sou eu?"</h2>
				        </div>
				        <h:form>
				        <div class="uk-modal-body">
									        
							Título:	<h:inputText id="titulo" name="titulo" value="#{TextBean.titulo}" /><br/>
							<br></br>
							Descrição: <h:inputTextarea id="descricao" name="descricao" value="#{TextBean.descricao}" /><br/>
						
				        </div>
				        <div class="uk-modal-footer uk-text-right">
				            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
				            <h:commandButton class="uk-button uk-button-secondary" id="btn" value="Enviar" action="#{TextBean.adicionarTexto()}" />
				        </div>
				        </h:form>
				    </div>
				</div>
            </li>
            <li><a href="#g" uk-toggle="">Adicionar texto em "nossos cafés" </a>
            <div id="g" uk-modal="">
				    <div class="uk-modal-dialog">
				        <button class="uk-modal-close-default" type="button" uk-close=""></button>
				        <div class="uk-modal-header">
				            <h2 class="uk-modal-title">Adicionar texto em "nossos cafés"</h2>
				        </div>
				        <h:form>
				        <div class="uk-modal-body">
									        
							Título:	<h:inputText id="titulo" name="titulo" value="#{texto2Bean.titulo}" /><br/>
							<br></br>
							Descrição: <h:inputTextarea id="descricao" name="descricao" value="#{texto2Bean.descricao}" /><br/>
						
				        </div>
				        <div class="uk-modal-footer uk-text-right">
				            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
				            <h:commandButton class="uk-button uk-button-secondary" id="btn" value="Enviar" action="#{texto2Bean.adicionarTexto()}" />
				        </div>
				        </h:form>
				    </div>
				</div>
            </li>
            <li><a href="#i" uk-toggle="">Adicionar texto em "curiosidades"</a>
            <div id="i" uk-modal="">
				    <div class="uk-modal-dialog">
				        <button class="uk-modal-close-default" type="button" uk-close=""></button>
				        <div class="uk-modal-header">
				            <h2 class="uk-modal-title">Adicionar texto em "curiosidades"</h2>
				        </div>
				        <h:form>
				        <div class="uk-modal-body">
									        
							Título:	<h:inputText id="titulo" name="titulo" value="#{texto3Bean.titulo}" /><br/>
							<br></br>
							Descrição: <h:inputTextarea id="descricao" name="descricao" value="#{texto3Bean.descricao}" /><br/>
						
				        </div>
				        <div class="uk-modal-footer uk-text-right">
				            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
				            <h:commandButton class="uk-button uk-button-secondary" id="btn" value="Enviar" action="#{texto3Bean.adicionarTexto()}" />
				        </div>
				        </h:form>
				    </div>
				</div>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-active"><a href="#">Sair</a></li>
        </ul>

    </div>
</div>
    <a class="uk-button uk-button-default" id='m' href="index.xhtml" position="right">Voltar para home</a>
</ul>

	
	
</h:body>
<script type='text/javascript' src="resources/js/jquery.js"></script>
<script type='text/javascript' src="resources/js/parallax.js"></script>
<script type='text/javascript' src="resources/js/uikit.js"></script>
<script type="text/javascript" src="resources/js/uikit-icons.min.js"></script>
<script type="text/javascript" src="resources/js/meu.js"></script>
</html>
