<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Café com Tattoo</title>
</h:head>
<h:body>
	<h:form enctype="multipart/form-data">
		Selecionar Imagem:	<h:inputFile id="arquivo"  name="arquivo" value="#{imagemBean.arquivo}" /><br/>
		<br></br>
		<h:commandButton id="btn" value="Enviar" action="#{imagemBean.pegarImagem}" />
	</h:form>
	
</h:body>
</html>
