<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>Café com Tattoo</title>
	<link rel='stylesheet' type='text/css' href="resources/css/uikit.min.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/uikit-rtl.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/css.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/meu.css"></link>
	
</h:head>

<h:body>

	<div class= 'uk-position-relative'>
    	<img src='resources/img/menu.png'/>
		    <div class='uk-position-top'>
		        <nav class='uk-navbar-container uk-navbar-transparent' uk-navbar="">
		            <div class='uk-navbar-center'>
		                <ul class='uk-navbar-nav'>
		                	<li><a href='#home' id='m'><span class='uk-margin-small-right' uk-icon='home'></span>Home</a></li>
		                        <span id='home' class='home'></span>
		                    <li><a href='#mim' id='mm'><span class='uk-margin-small-right' uk-icon='plus-circle'></span>Coisas</a>
			                    <div class='uk-navbar-dropdown'>
			                        <ul class='uk-nav uk-navbar-dropdown-nav'>
			                            <li class='uk-active'><a href='#'>Active</a></li>
			                            <li><a href='#eu'><span class='uk-margin-small-right' uk-icon='commenting'></span>Quem sou eu?</a></li>
			                            <li><a href='#cafe'><span class='uk-margin-small-right' uk-icon='happy'></span>Nossos cafés</a></li>
			                            <li><a href='#galeria'><span class='uk-margin-small-right' uk-icon='image'></span>Galeria</a></li>
			                            <li><a href='#videos'><span class='uk-margin-small-right' uk-icon='video-camera'></span>Curiosidades</a></li>
			                        </ul>
			                    </div>
		                	</li>
		                    	<li><a href='#contato' id='m'><span class='uk-margin-small-right' uk-icon='receiver'></span>Contato</a></li>
		                    	<li><a href='admin.xhtml' id='m'><span class='uk-margin-small-right' uk-icon='user'></span>Admin</a></li>        
		                </ul>
		            </div>
		        </nav>
		    </div>
	</div>

<span id='eu' class='eu'></span>
	<div class='uk-child-width-1-2@s uk-grid-match' uk-grid="">
		<div>
	    	<div class= 'uk-card-media-lef	t uk-cover-container'><br></br>
	            <center>
	            	<h:form>
						<ui:repeat value="#{imgBean.getLista()}" var="i" border="1">
							<img class='uk-border-circle' width='300' height='300' alt='Border circle' src="#{i.imagem}"></img>
							<br></br><br></br>
							<a class="uk-button uk-button-secondary uk-button-large uk-width-auto@s" href="#modal-sections" uk-toggle="">Deletar</a>
							
							<div id="modal-sections" uk-modal="">
							    <div class="uk-modal-dialog">
							        <button class="uk-modal-close-default" type="button" uk-close=""></button>
							        <div class="uk-modal-header">
							            <h2>Um momento amigo</h2>
							        </div>
							        <div class="uk-modal-body">
							            <p>Você tem certeza que deseja realmente apagar essa publicação?</p>
							        </div>
							        <div class="uk-modal-footer uk-text-right">
							            <button class="uk-button uk-button-default uk-button-large uk-width-auto@s uk-modal-close" type="button">Cancelar</button>
										<h:commandLink class="uk-button uk-button-danger uk-button-large uk-width-auto@s" data-uk-icon="arrow-right" value="Sim" action="#{imgBean.deletar(i.id)}"/>				          						
							
							        </div>
							    </div>
							</div>						
						</ui:repeat>
					</h:form>
				</center>
	        <br></br>
	    	</div>
		</div>
	  	<div>
	  		<ui:repeat value="#{TextBean.getLista()}" var="consulta">
	        <div class='uk-card uk-card-body'>
	            <div class='uk-card uk-card-secondary uk-card-hover uk-card-body uk-light'>	            
		            	<center><h3 style="margin-top:5%;">#{consulta.titulo}</h3>
							<p>#{consulta.descricao}</p>
								<h:form>
									<br></br><a href="textoEditar.xhtml?id=#{consulta.id}"  class="uk-button uk-button-default uk-button-large uk-width-auto@s" title="Learn More">Editar</a>
									<a class="uk-button uk-button-default uk-button-large uk-width-auto@s" href="#modal-sectionss" uk-toggle="">Deletar</a>
									
									<div id="modal-sectionss" uk-modal="">
									    <div class="uk-modal-dialog">
									        <button class="uk-modal-close-default" type="button" uk-close=""></button>
									        <div class="uk-modal-header">
									            <h2>Um momento amigo</h2>
									        </div>
									        <div class="uk-modal-body">
									            <p>Você tem certeza que deseja realmente apagar essa publicação?</p>
									        </div>
									        <div class="uk-modal-footer uk-text-right">
									            <button class="uk-button uk-button-default uk-button-large uk-width-auto@s uk-modal-close" type="button">Cancelar</button>
												<h:commandLink class="uk-button uk-button-danger uk-button-large uk-width-auto@s" data-uk-icon="arrow-right" value="Sim" action="#{TextBean.deletar(consulta.id)}"/>
									
									        </div>
									    </div>
									</div>					          
								</h:form>
						</center>
	            </div>
	        </div>
	        </ui:repeat>
	    </div>
	</div>


  
<div class='parallax-window' data-parallax='scroll' data-image-src='resources/img/12.jpg'></div>
<br></br><hr></hr>
<span id='cafe' class='cafe'></span>
<center><h1>Nossos Cafés</h1></center>
<hr></hr>
<br></br>


	<div uk-slider="center: true">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
        <ui:repeat value="#{img2Bean.getLista()}" var="u" border="1">
            <li>
                <div class="uk-card uk-card-secondary">
                    
                    <div class="uk-card-body">
						<h:form>
								<img src="#{u.imagem}"></img>
								<br></br><br></br>
								<center><a class="uk-button uk-button-default uk-button-large uk-width-auto@s" href="#modal2" uk-toggle="">Deletar</a></center>
								
								<div id="modal2" uk-modal="">
								    <div class="uk-modal-dialog">
								        <button class="uk-modal-close-default" type="button" uk-close=""></button>
								        <div class="uk-modal-header">
								            <h2>Um momento amigo</h2>
								        </div>
								        <div class="uk-modal-body">
								            <p>Você tem certeza que deseja realmente apagar essa publicação?</p>
								        </div>
								        <div class="uk-modal-footer uk-text-right">
								            <button class="uk-button uk-button-default uk-button-large uk-width-auto@s uk-modal-close" type="button">Cancelar</button>
											<h:commandLink class="uk-button uk-button-danger uk-button-large uk-width-auto@s" data-uk-icon="arrow-right" value="Sim" action="#{img2Bean.deletar(u.id)}"/>
								
								        </div>
								    </div>
								</div>	
								
						</h:form>
                    </div>
                </div>
            </li>
         </ui:repeat>
           
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous="" uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next="" uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

	<div class= 'uk-child-width-1-3@m' uk-grid="">
		<ui:repeat value="#{texto2Bean.getLista()}" var="consulta">	    
		    <div>
		        <div class='uk-card uk-card-default'>
		            
					<div class= 'uk-card-body'>
						<center><h3 style="margin-top:5%;">#{consulta.titulo}</h3>
							<p>#{consulta.descricao}</p>
							<h:form>
							<br></br>
								<a href="texto2Editar.xhtml?id=#{consulta.id}"  class="uk-button uk-button-default uk-button-large uk-width-auto@s" title="Learn More">Editar</a>
								<center><a class="uk-button uk-button-default uk-button-large uk-width-auto@s" href="#modal3" uk-toggle="">Deletar</a></center>
								
										<div id="modal3" uk-modal="">
								    		<div class="uk-modal-dialog">
								        		<button class="uk-modal-close-default" type="button" uk-close=""></button>
								        		<div class="uk-modal-header">
								            		<h2>Um momento amigo</h2>
								        		</div>
								        		<div class="uk-modal-body">
								            		<p>Você tem certeza que deseja realmente apagar essa publicação?</p>
								        		</div>
								        		<div class="uk-modal-footer uk-text-right">
								            		<button class="uk-button uk-button-default uk-button-large uk-width-auto@s uk-modal-close" type="button">Cancelar</button>
													<h:commandLink class="uk-button uk-button-danger uk-button-large uk-width-auto@s" data-uk-icon="arrow-right" value="Sim" action="#{texto2Bean.deletar(consulta.id)}"/>				          
								
									        	</div>
								   		 	</div>
										</div>
							</h:form>
						</center>
					</div>
		    	</div>
		 	</div>
		</ui:repeat>	
	</div>
	
	


<div class='parallax-window' data-parallax='scroll' data-image-src='resources/img/8.jpg'></div>
<br></br><hr></hr>
<span id='galeria' class='galeria'></span>
<center><h1>GALERIA</h1></center>
<hr></hr>
<br></br>
	<div class= 'uk-child-width-1-4@m uk-grid-small uk-grid-match' uk-grid="">
		<ui:repeat value="#{img3Bean.getLista()}" var="w" border="1">
		    <div>
		        <div class='uk-card uk-card-secondary uk-card-body'>
					<h:form>
								<img src="#{w.imagem}"></img>
								<br></br><br></br>
								<center><h:commandLink class="uk-button uk-button-default uk-button-large uk-width-auto@s" data-uk-icon="arrow-right" value="Deletar" action="#{img3Bean.deletar(w.id)}"/></center>			          

					</h:form>
						       
		        </div>
		    </div>
		</ui:repeat>    
	</div>
<br></br>

<div class='parallax-window' data-parallax='scroll' data-image-src='resources/img/7.jpg'></div>
<br></br>
<hr></hr>
<span id='videos' class='video'></span>
<center><h1>Curiosidades</h1></center>
<hr></hr>
<br></br>
	
	<div class='uk-child-width-1-2@m uk-grid-small uk-grid-match' uk-grid="">
	
		<div>
	        <div class='uk-card uk-card-secundary uk-card-body'>
				<h:form>
					<ui:repeat value="#{videoBean.getLista()}" var="l" border="1">
						<video src="#{l.video}" controls=""></video>
						<br></br><br></br>
						<center><a class="uk-button uk-button-default uk-button-large uk-width-auto@s" href="#modal5" uk-toggle="">Deletar</a></center>
						<br></br><br></br>
							<div id="modal5" uk-modal="">
							    <div class="uk-modal-dialog">
							        <button class="uk-modal-close-default" type="button" uk-close=""></button>
							        <div class="uk-modal-header">
							            <h2>Um momento amigo</h2>
							        </div>
							        <div class="uk-modal-body">
							            <p>Você tem certeza que deseja realmente apagar essa publicação?</p>
							        </div>
							        <div class="uk-modal-footer uk-text-right">
							            <button class="uk-button uk-button-default uk-button-large uk-width-auto@s uk-modal-close" type="button">Cancelar</button>
										<h:commandLink class="uk-button uk-button-danger uk-button-large uk-width-auto@s" data-uk-icon="arrow-right" value="Sim" action="#{videoBean.deletar(l.id)}"/>			          
							
							        </div>
							    </div>
							</div>	
							
					</ui:repeat>
				</h:form>
	        </div>
	    </div>
	    <div>
	    <ui:repeat value="#{texto3Bean.getLista()}" var="consulta">
	        <div class='uk-card uk-card-secundary uk-card-body'>
	            	<center><h3 style="margin-top:5%;">#{consulta.titulo}</h3>
						<p>#{consulta.descricao}</p>
						<h:form>
							<br></br><a href="texto3Editar.xhtml?id=#{consulta.id}"  class="uk-button uk-button-default uk-button-large uk-width-auto@s" title="Learn More">Editar</a>
							<h:commandLink class="uk-button uk-button-default uk-button-large uk-width-auto@s" data-uk-icon="arrow-right" value="Deletar" action="#{texto3Bean.deletar(consulta.id)}"/>				          
						
						</h:form>
					</center>
	        </div>
	     </ui:repeat>
	    </div>  
	</div>
<br></br>


	<div class= 'uk-footer'><span id='contato' class='contato'></span><br/>
		<div class='uk-column-1-3 uk-column-divider'>
		    <center><p id='c'>Para entrar em contato:<br></br>(85)4002-8922 | (85)0000-0000</p></center>
		    <center><p id='c'>imagens | Unsplashe || Design | Uikit</p></center>
		    <center><h5 id='c'>© 2019 |<a href='mailto:yasmimdosantosrocha.com'> por Yasmim Rocha</a></h5></center>
		    <center>
		       <a href='https://gitlab.com/YasmimRocha?nav_source=navbar' target='_black'><img src='https://img.icons8.com/nolan/64/000000/gitlab.png'/></a>
		       <a href='mailto:yasmimdosantosrocha.com'><img src='https://img.icons8.com/nolan/64/000000/gmail.png'/></a>
		       <a href='https://www.instagram.com/uma_criaturaa/tagged/' target='_black'><img src='https://img.icons8.com/nolan/64/000000/instagram-new.png'/></a>
		       <a href='https://www.facebook.com/yasmim.rocha.14' target='_black'><img src='https://img.icons8.com/nolan/64/000000/facebook.png'/></a>
		    </center>
		   	<center>Vamos começar?</center><br/>
		   	<center><a class="uk-button uk-button-default" href="user.xhtml" id="m">Administrador</a></center>
		    
		</div>
	</div>
	
</h:body>


<script type='text/javascript' src="resources/js/jquery.js"></script>
<script type='text/javascript' src="resources/js/parallax.js"></script>
<script type='text/javascript' src="resources/js/uikit.js"></script>
<script type="text/javascript" src="resources/js/uikit-icons.min.js"></script>
<script type="text/javascript" src="resources/js/meu.js"></script>

</html>
