<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
<h:head>

	<link rel='stylesheet' type='text/css' href="resources/css/uikit.min.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/uikit-rtl.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/css.css"></link>
	<link rel='stylesheet' type='text/css' href="resources/css/meu.css"></link>

<style>
    .f{
        width: 1350px;
        height: 650px;
        background-image: url(resources/img/12.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: relative;
        background-size: 1400px 900px;
    }
    </style>

	
</h:head>

<h:body class="f">
 <div class='uk-child-width-expands@m uk-text-center' uk-grid="">
 <center>
    	<div class='uk-child-width-1-3@1 uk-margin-top uk-margin-bottom' uk-grid="">
            <div class='uk-position-center uk-overlay uk-overlay-default'>
            <div class='uk-card uk-card-default uk-card-hover uk-card-body'>
            	<div class='uk-card-body'>
                    <center><h3 class='uk-card-title'>Login</h3></center>
                    <h:form action='' method='post'>
		                <div class='uk-margin'>
		                    <div class='uk-inline'>
								Nome:	<h:inputText id="nome" name="nome" value="#{userBean.nome}" /><br/>
		                 	</div>
		                </div>
		                <div class='uk-margin'>
		                    <div class='uk-inline'>
								Senha: <h:inputText id="senha" name="senha" value="#{userBean.senha}" /><br/>
		                        
		                    </div>
		                </div>
		                <div class='uk-card-footer'>
							<h:commandButton class='uk-button uk-button-secondary' id="btn" value="Enviar" action="#{userBean.adicionarTexto()}" />
		                	
		                </div>
            		</h:form>
            	</div>
       		</div>
    	</div>
    	</div>
    </center>
</div>



	
</h:body>


<script type='text/javascript' src="resources/js/jquery.js"></script>
<script type='text/javascript' src="resources/js/parallax.js"></script>
<script type='text/javascript' src="resources/js/uikit.js"></script>
<script type="text/javascript" src="resources/js/uikit-icons.min.js"></script>
<script type="text/javascript" src="resources/js/meu.js"></script>


</html>
