.parallax-window {
    min-height: 400px;
    background: transparent;
}

#m{
	color: #ffffff;
}

#mm{
	color: #ffffff;
}

#footer{
    color: #000000;
}

.f{
    width: 1350px;
    height: 650px;
    background-image: url(img/12.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 1400px 900px;
}